<!DOCTYPE html>
<html id="html">

<head>
    <% include partials/includes %>
</head>

<body>
    <% include partials/navbar %>
        <div class="col-sm-12">
            <div class="col-sm-6" id="ResetYourPasswordDiv">
                <h1>Reset Your Password</h1>
                <div class="form-group">
                    <input id="InputEmail" class="form-control" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <button id="ResetPasswordAcceptButton" class="btn btn-primary pull-right">Accept</button>
                    <i id="LoadingIcon" class="fa fa-spinner fa-pulse fa-fw fa-2x pull-right" style="display: none; margin-top: 3px; margin-right: 10px;"></i>
                </div>
            </div>
            <div class="col-sm-6" id="EnterYourPassCodeDiv" style="display: none;">
                <h1>Enter Your Passcode</h1>
                <div class="form-group">
                    <input id="InputPassCode" class="form-control" name="passcode" placeholder="Passcode" required="">
                </div>
                <div class="form-group">
                    <button id="EnterPassCodeAcceptButton" class="btn btn-primary pull-right">Accept</button>
                </div>
            </div>
        </div>
</body>
<script>
    var clientIPAddress = "";
    var geoLocation = "";

    $(document).ready(function () {
        $("#InputEmail").inputmask({ alias: "email" });

        function RegisterResetPasswordAcceptButton() {
            $("#ResetPasswordAcceptButton").off("click").on("click", ResetPasswordAcceptClick);
        }

        $.getJSON("https://api.ipdata.co/?callback=?", function (data) {
            if (data != null) {
                clientIPAddress = data.ip;
                if (data.city != "" && data.region != "" && data.city != null && data.region != null) {
                    geoLocation = data.city + ", " + data.region;
                }
                else if (data.city != "" && data.city != null) {
                    geoLocation = data.city;
                }
                else {
                    geoLocation = data.region;
                }
            }
        });

        function ResetPasswordAcceptClick(e) {
            $(".alert-danger").remove();
            if ($("#InputEmail").inputmask("isComplete")) {
                $("#LoadingIcon").show();
                $("#ResetPasswordAcceptButton").off("click");
                $.ajax({
                    url: '/ForgotPasswordSendCode',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: $("#InputEmail").val(),
                        ipAddress: clientIPAddress,
                        geoLocation: geoLocation,
                    }),
                    success: function (data) {
                        $("#LoadingIcon").hide();
                        if (data == "") {
                            $("#ResetYourPasswordDiv").hide();
                            $("#EnterYourPassCodeDiv").show();
                            RegisterEnterPassCodeAcceptButton();
                        }
                        else {
                            var html = [
                                '<div class="alert alert-danger" style="margin-top: 60px;"><strong>',
                                data,
                                '</strong></div>',
                            ].join("");
                            $("#ResetYourPasswordDiv").append(html);
                            RegisterResetPasswordAcceptButton();
                        }
                    }
                });
            }
        }

        $("#InputEmail").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#ResetPasswordAcceptButton").click();
            }
        });

        function RegisterEnterPassCodeAcceptButton() {
            $("#EnterPassCodeAcceptButton").off("click").on("click", EnterPassCodeAcceptClick);
        }

        function EnterPassCodeAcceptClick(e) {
            $(".alert-danger").remove();
            var passcode = $("#InputPassCode").val();
            if (passcode != "") {
                $("#EnterPassCodeAcceptButton").off("click");
                $.ajax({
                    url: '/ForgotPasswordEnterCode',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        email: $("#InputEmail").val(),
                        passcode: passcode,
                    }),
                    success: function (data) {
                        if (data == "") {
                            window.location.href = "UpdatePassword";
                        }
                        else {
                            var html = [
                                '<div class="alert alert-danger" style="margin-top: 60px;"><strong>',
                                data,
                                '</strong></div>',
                            ].join("");
                            $("#EnterYourPassCodeDiv").append(html);
                            RegisterEnterPassCodeAcceptButton();
                        }
                    }
                });
            }
        }

        $("#InputPassCode").keyup(function (event) {
            if (event.keyCode === 13) {
                $("#EnterPassCodeAcceptButton").click();
            }
        });

        RegisterResetPasswordAcceptButton();
    });
</script>

</html>